@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --green:#277fae;
    --black:#444;
    --light-color:#777;
    --bg-color:#e6e6e6;
    --border:.1rem solid rgba(0,0,0,.2);
    --box-shadow:.4rem .4rem 1rem #ccc,
                -.4rem -.4rem 1rem #fff;
    --box-shadow-inset:.4rem .4rem 1rem #ccc inset,
                      -.4rem -.4rem 1rem #fff inset;
}


*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
   
}
/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
   cursor: pointer;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#277fae ;
    width: 2px;
    cursor: pointer;
    
   
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1676e4; 
    cursor: pointer;
  }

h1{
    color: #277fae;
}
P{
    font-size: 15px;
    font-family: monospace;
}
h3{
    font-size: 8px;
    letter-spacing: 1px;
    text-align: center;
    color: rgba(235, 33, 33, 0.377);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}

.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:30px 20px;
}

.container .box-container .box img{
    height: 10px;
}

.container .box-container .box h3{
    color:#444;
    font-size: 22px;
    padding:10px 0;
}

.container .box-container .box p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}

.container .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.container .box-container .box .btn:hover{
    letter-spacing: 1px;
}

.container .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

@media (max-width:768px){
    .container{
        padding:20px;
    }
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: var(--bg-color);
   
}

body.active{
    --black:#fff;
    --light-color:#ddd;
    --bg-color:#222;
    --border:.1rem solid rgba(0,0,0,.4);
    --box-shadow:.4rem .4rem 1rem #111,
                -.4rem -.4rem 1rem #333;
    --box-shadow-inset:.4rem .4rem 1rem #111 inset,
                      -.4rem -.4rem 1rem #333 inset;
}

span{
    color: var(--green);
}






section{
    min-height: 100vh;
    padding:2rem;
}

.btn{
    width: 100%;
   
    margin-top: 1rem;
    display: inline-block;
    padding:1rem 3.5rem;
    border-radius: .5rem;
    font-size: 1.7rem;
    cursor: pointer;
    background: #277fae;
    color:black;
    box-shadow: var(--box-shadow);
}

.btn:hover{
   
    color:rgb(224, 239, 240);
}

.headingCPF{
    text-align: center;
    font-size: 5rem;
    color:var(--black);
    text-transform: uppercase;
    padding-bottom: 2rem;
}

.heading span{
    color:var(--green);
    text-transform: uppercase;
}

.header{
    position: fixed;
    z-index: 999;
    background: var(--bg-color);
    width: 100%;
    border-bottom: var(--border);
    height: 10px;
    background-color: rgb(248, 241, 241);
    margin-bottom: 10rem;
    padding:1.5rem;
    text-align: center;
}

.header img{
    position: relative;
    height: 1.9rem;
    width: 2.8rem;
    display: flex;
    margin-top: -10px;
    margin-left: 12%;
    cursor: pointer;
   
}
.header ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    float: right;
    margin-top: -30px;
    margin-right: 10rem;
   
    
    
}
.header ul li{
    margin: 10px;
    font-size: 14px;
    
   
    
}
.header ul li a{
   
    margin: 2px;
    font-size: 14px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    
}
.header ul li a:hover{
color: #277fae;
    
}
.br{
    position: relative;
    height: 1.9rem;
    width: 2.8rem;
    display: flex;
    margin-top: -19.5px;
    margin-left: 14.4%;
    font-weight: 600;
    color: rgb(102, 101, 101);
    font-family: Arial, Helvetica, sans-serif;
   
}



.header .navbar{
    padding-top: 1rem;
}

.header .navbar a{
    display: block;
    margin:1.5rem 0;
    padding:.3rem;
    border-radius: 5rem;
    font-size: 2rem;
    box-shadow: var(--box-shadow);
    color:var(--black);
}

.header .navbar a:hover{
    box-shadow: var(--box-shadow-inset);
    color: var(--green);
}

#menu-btn{
    position: fixed;
    top:1.5rem; left: 2rem;
    z-index: 1000;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 1.6rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align: center;
    color:var(--black);
    background: var(--bg-color);
    display: none;
}

#menu-btn:hover{
    color:var(--green);
    box-shadow: var(--box-shadow-inset);
}

#theme-toggler{
    position: fixed;
    top:1.5rem; right: 2rem;
    z-index: 1000;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align: center;
    color:var(--black);
    background: var(--bg-color);
}

#theme-toggler:hover{
    color:var(--green);
    box-shadow: var(--box-shadow-inset);
}


.home{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home .content h3{
    font-size: 7rem;
    color:var(--black);
    line-height: 1.1;
    text-transform: uppercase;
    cursor: pointer;
}
.home .content h3:hover{
    font-size: 7rem;
    color:var(--green);
    line-height: 1.1;
    text-transform: uppercase;
    cursor: pointer;
}

.home .content p{
    font-size: 2rem;
    color:var(--green);
    padding-bottom: .5rem;
}

.home .share{
    position: relative;
    top: 10rem;
    border-radius: .5rem;
   
    padding:1rem;
   
}

.home .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    box-shadow: var(--box-shadow);
    margin:.5rem;
    font-size: 3rem;
    color:var(--black);
    border-radius: .5rem;
    
}
.home .share a:hover:nth-child(1){
    box-shadow: var(--box-shadow-inset);
    color:rgb(18, 194, 91);
}
.home .share a:hover:nth-child(3){
    box-shadow: var(--box-shadow-inset);
    color:rgb(150, 18, 194);
}

.home .share .credits:nth-child(4){
    box-shadow: var(--box-shadow-inset);
    margin-top: 17rem;
}
.home .share a:hover{
    box-shadow: var(--box-shadow-inset);
    color:var(--green);
}


.cpf form{
    margin:1rem auto;
    max-width: 70rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding:2rem;
    
}

.cpf form .box{
    padding:1rem 1.5rem;
    width:100%;
    background: none;
    color:var(--black);
    font-size: 1.5rem;
    text-transform: none;
    margin:.7rem 0;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    
    
}

.cpf form textarea{
    height: 20rem;
    resize: none;
}

.cpf form .box:focus{
    box-shadow: var(--box-shadow-inset);
}





#copy {
    font-size: 1.5rem;
    text-align: center;
    padding:1rem 1rem;
    color:var(--black);
}

















/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    body{
        padding-left: 0;
    }
    h3{
        font-size: 5px;
        letter-spacing: 1px;
        text-align: center;
        color: rgba(112, 109, 109, 0.397);
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
   

    .header{
        left:-110%;
    }

    .header.active{
        left:0%;
        transition: .4s linear;
    }

    #menu-btn{
        display: hidden;
    }

}

@media (max-width:450px){

    html{
        font-size: 40%;
    }
    

    .header{
        width:100%;
        border-right: 0;
    }

}

#load{
    padding: 10px;
    font-size:14px;
    text-align: center;
    width: 100%;
    height: 40px;
    font-weight: bold;
    border-radius: 5PX;
    margin-top: 5px;
    background-color: rgb(88, 240, 182);
    display: none;
}
#loadTel{
    padding: 10px;
    font-size:14px;
    text-align: center;
    width: 100%;
    height: 40px;
    font-weight: bold;
    border-radius: 5PX;
    margin-top: 5px;
    background-color: rgb(88, 240, 182);
    display: none;
}
#loadEmail{
    padding: 10px;
    font-size:14px;
    text-align: center;
    width: 100%;
    height: 40px;
    font-weight: bold;
    border-radius: 5PX;
    margin-top: 5px;
    background-color: rgb(88, 240, 182);
    display: none;
}

.load{
    font-family: Arial, Helvetica, sans-serif;
}